<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584426347598-cqria72bngkv0hqt8rcs8nfn19sdt9ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584426347598-cqria72bngkv0hqt8rcs8nfn19sdt9ls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584426347598-bb8q8obo4k2i52jlkt85qjl0ut59q2es.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCsX3oi4cMBjT7E3zw2kV-UNZRBw2lG0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>584426347598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyTracker</string>
	<key>PROJECT_ID</key>
	<string>aiotracker-db</string>
	<key>STORAGE_BUCKET</key>
	<string>aiotracker-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584426347598:ios:b1a0ed8fc90714c78df71f</string>
</dict>
</plist>